@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

#navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
}

.nav-search {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
}

input{
  width: 100%;
}


.nav-search-input {
  flex-grow: 1;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  border: none;
  outline: none;
}

.nav-search-icon {
  width: 30px;
  height: 30px;
}

.nav-cart{
  display: flex;
  align-items: center;
  margin: 0 15px;
}

.header-slider{
  overflow-y: hidden;
  position: relative;
}

.header-slider ul{
  display: flex;
}

.header-slider ul li{
  width: 100%;
}

.slider-list {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}


.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.header-img {
  max-width: 100%;
  max-height: 100%; 
  display: block;
  margin: 0 auto;
}

.slider-list img{
  width: 100%;
}

 

.header-slider a{
  position: absolute;
  top: 35%;
  z-index: 1;
  padding: 5vh 1vw;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  cursor: pointer;
  color: black;
  background-color:#e5e5e5;
}

.control-next{
  right: 0;
}

.card-body {
  max-height: 250px;
}

.card-img-top{
  height: 300px;
  object-fit: cover;
  margin: 0 auto;
}

@media screen and (max-width:290px){
  #navbar .logo{
   width: 40px !important;
  }
  #navbar .nav-search {
    margin: 0 0.2em;
    background-color: #f0f0f0;
    border-radius: 5px;
    padding: 3px;
   }
   #navbar .cart{
     width: 8px;
   }
   #navbar span{
    font-size: 0.8em;
   }
}

@media screen and (max-width:450px){
   #navbar .logo{
    width: 50px;
   }
   #navbar .cart-icon{
    padding: 3px 8px !important;
   }
   #navbar .cart{
     width: 25px;
   }
   #navbar span{
    font-size: 1em !important;
   }
   #navbar .nav-search {
    width: 55%;
    padding: 5px;
   }
.header-slider a{
  top: 30%;
  padding: 2vh 1vw;
}
.slider-item {
  height: 20%;
}

}


@media screen and (max-width:920px){
  #navbar .logo{
    width: 75px;
   }
   .card h5{
    font-size: 1em;
   }
}

@media screen and (max-width:1030px){
  .header-slider a{
    padding: 3vh 1vw;
  }
}

